#myContainer{
    position: fixed;
    right: 0;
    top: 0;
    display: flex;
    max-width: 300px;
    z-index: 10000;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.mydiv{
    padding-left: 30px;
}